

<table>
  <thead>
    <tr>
    <th>ID</th>
    <th>ReportID</th>
    <th>Longitude</th>
    <th>Album Title</th>
    <th>Album Report Name</th>
    <th>Album Status</th>
    </tr>
  </thead>
  <tbody>
    <% songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.report_id %></td>
        <td><%= song.longitude %></td>
        <td><%= song.album.statusp %></td>
        <td><%= song.album.statusp %></td>
      </tr>
    <% end %>
  </tbody>
</table>

