

<table class="table">
  <thead>
    <tr>
    <th>ID</th>
    <th>ReportID</th>
    <th>Longitude</th>
    <th>Album Title</th>
    <th>Album ReportID</th>
    <th>Album Status</th>
    </tr>
  </thead>
  <tbody>
    <% @songs_with_parent_album_info.each do |song| %>
      <tr>

      <td><%= song[:id] %></td>
      <td><%= song[:report_id] %></td>
      <td><%= song[:longitude] %></td>
      <td><%= song[:album_id] %></td>
      <td><%= song[:album_report_id] %></td>
      <td><%= song[:album_statusp] %></td>

      </tr>
    <% end %>
  </tbody>
</table>



